//*******Light Mode *******//
.navbar {
  width: 100%;
  background-color: rgb(57, 125, 244);
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.239);
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 1s ease;

  .navbar-img {
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.795);
  }
  .emptyDiv {
    width: auto;
    height: auto;
  }
  .navbar-buttons {
    background-color: transparent;
    cursor: pointer;
    .outSide {
      position: relative;
      width: 70px;
      height: 30px;
      background-color: rgb(10, 9, 9);
      border-radius: 20px;
      .moon {
        position: absolute;
        left: 2px;
        font-size: 30px;
        color: rgb(255, 255, 255);
        top: 0;
        z-index: 1;
      }
      .sun {
        position: absolute;
        right: 2px;
        font-size: 30px;
        color: rgb(242, 255, 0);
        box-shadow: 0 0 10px rgba(245, 255, 4, 0.795);
        border-radius: 50%;
        z-index: 1;
      }
      .inside {
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 35px;
        height: 35px;
        background-color: rgb(0, 5, 6);
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(5, 5, 5, 0.795);
        transition: all 1s;
        z-index: 100;
      }
      .insideMove {
        position: absolute;
        right: 0;
        bottom: -2px;
        width: 35px;
        height: 35px;
        background-color: rgb(242, 255, 0);
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.795);
        transition: all 1s;
        z-index: 100;
      }
    }
    .outSide-light {
      position: relative;
      width: 70px;
      height: 30px;
      background-color: rgb(47, 52, 3);
      border-radius: 20px;

      .moon {
        position: absolute;
        left: 2px;
        font-size: 30px;
        color: rgb(255, 255, 255);
        top: 0;
        z-index: 1;
      }
      .sun {
        position: absolute;
        right: 2px;
        font-size: 30px;
        color: rgb(242, 255, 0);
        box-shadow: 0 0 5px 2px rgba(245, 255, 4, 0.3795);
        // filter: drop-shadow(
        //   -3px -3px 2px rgba(245, 255, 4, 0.795) drop-shadow(5px 5px 5px rgba(245, 255, 4, 0.795))
        //     drop-shadow(13px 13px 15px rgba(245, 255, 4, 0.795))
        // );
        border-radius: 50%;
        z-index: 1;
      }
      .inside {
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 35px;
        height: 35px;
        background-color: rgb(0, 5, 6);
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.795);
        transition: all 1s;
        z-index: 100;
      }
      .insideMove {
        position: absolute;
        right: 0;
        bottom: -2px;
        width: 35px;
        height: 35px;
        background-color: rgb(0, 5, 6);
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.795);
        transition: all 1s;
        z-index: 100;
      }
    }
  }
}
//*******Dark Mode start here*********//
.navbar-dark {
  width: 100%;
  background-color: rgb(10, 3, 152);
  box-shadow: 0 4px 15px rgba(65, 62, 233, 0.227);
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 1s ease;

  .navbar-img {
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.795);
  }
  .emptyDiv {
    width: auto;
    height: auto;
  }
  .navbar-buttons {
    background-color: transparent;
    cursor: pointer;
    .outSide {
      position: relative;
      width: 70px;
      height: 30px;
      background-color: rgb(10, 9, 9);
      border-radius: 20px;
      .moon {
        position: absolute;
        left: 2px;
        font-size: 30px;
        color: rgb(255, 255, 255);
        top: 0;
        z-index: 1;
      }
      .sun {
        position: absolute;
        right: 2px;
        font-size: 30px;
        color: rgb(242, 255, 0);
        box-shadow: 0 0 10px rgba(245, 255, 4, 0.795);
        border-radius: 50%;
        z-index: 1;
      }
      .inside {
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 35px;
        height: 35px;
        background-color: rgb(0, 5, 6);
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(5, 5, 5, 0.795);
        transition: all 1s;
        z-index: 100;
      }
      .insideMove {
        position: absolute;
        right: 0;
        bottom: -2px;
        width: 35px;
        height: 35px;
        background-color: rgb(242, 255, 0);
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.795);
        transition: all 1s;
        z-index: 100;
      }
    }
    .outSide-light {
      position: relative;
      width: 70px;
      height: 30px;
      background-color: rgb(47, 52, 3);
      border-radius: 20px;

      .moon {
        position: absolute;
        left: 2px;
        font-size: 30px;
        color: rgb(255, 255, 255);
        top: 0;
        z-index: 1;
      }
      .sun {
        position: absolute;
        right: 2px;
        font-size: 30px;
        color: rgb(242, 255, 0);
        box-shadow: 0 0 5px 2px rgba(245, 255, 4, 0.3795);
        border-radius: 50%;
        z-index: 1;
      }
      .inside {
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 35px;
        height: 35px;
        background-color: rgb(0, 5, 6);
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.795);
        transition: all 1s;
        z-index: 100;
      }
      .insideMove {
        position: absolute;
        right: 0;
        bottom: -2px;
        width: 35px;
        height: 35px;
        background-color: rgb(0, 5, 6);
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.795);
        transition: all 1s;
        z-index: 100;
      }
    }
  }
}
.common {
  transition: all 1s ease;
}
