.Principal {
  background-color: #abbce94b;
  color: #000000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Principal-Dark {
  background-color: #000000d5;
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
